nav {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(199, 199, 247);
    color: white !important; 
    font-size: 18px;
    opacity: 20;
}  

.a {
    color: white;
    cursor: grab
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
}