body {
    background-image: url("../images/library_background_copy.jpg");
    background-attachment: fixed;
}

footer {
    margin-top: 100px;
}

#terms {
    background-color: rgb(199, 199, 247);
    color: black !important; 
    opacity: 0.9;
}

nav {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(199, 199, 247);
    color: white !important; 
    font-size: 18px;
    opacity: 0.9;
}  

.a {
    color: white;
    cursor: grab
}

h1 {
    font-family: 'Aguafina Script', cursive; 
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

button {
    opacity: 1;
}

.jumbotron {
    text-align: center;
    background-color: rgb(199, 199, 247);
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;
    padding: 1% !important;
}

#carousel {
    padding: 20px;
    position: relative;
}

h3 {
    font-family: 'Aguafina Script', cursive;    
    align-content: center;
    text-align: center;
    font-size: 50px !important;
    color: rgb(139, 224, 220);
}

#poll {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
    align-content: center;
    overflow: hidden;
    width: 100%;
}

.card-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card {    
    background-color: rgb(199, 199, 247) !important;
    margin: 15px;
}

.hidden {
    display: none;
  }